<%include head%>
<body>
    <div class="jumbotron">
        <h1 class="text-center danger">Sorry,你要找的页面出错！</h1>
        <div class="container">
            <img src="../images/404.png" height="400" width="1000" alt="" />
        </div>
    </div>
</body>
</html>