<head>
    <meta charset="UTF-8" />
    <title>Album</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../bootstrap/dist/js/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
