/*upload.ejs*/
.imgContainer{
    background: #eee;
    display: flex;
    flex-flow: row wrap;
    justify-content：flex-start;
    height: 60vh;
}
.imgContainer div{
    margin: 10px;
    border: 1px solid #eef;
}
.thumbnail img{
    width: 100px;
    height: 100px;
}
.thumbnail p{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 127px;
}