/*upload.ejs*/
.imgContainer{
    background: #eee;
    display: flex;
    flex-flow: row wrap;
    justify-content：flex-start;
}
.imgContainer div{
    margin: 10px;
    border: 1px solid #eef;
}
.imgContainer img{
    width: 100px;
    height: 100px;
}